.card {
    position: relative;
    /* background-color: #777; */
}

.card:hover .card__img {
    animation: opacity 0.2s ease-in-out;

}

@keyframes opacity {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0.8;
    }

    100% {
        opacity: 0;
    }
}

@keyframes slide {
    0% {
        left: 0;
    }

    50% {
        left: -20px;
    }

    100% {
        opacity: 0;
    }
}
.card:hover .card_icon {
    animation: slide 0.5s ease-in-out;

}
.card__img {
    margin-bottom: 28px;
    border-radius: 20px;
}

.card_body {
    display: flex;
    justify-content: space-between;
    column-gap: 10px;
    align-items: center;
}

.card_text {
    color: #000;
    font-family: Poppins;
    font-size: 32px;
    font-style: normal;
    font-weight: 500;
    line-height: 50px;
    letter-spacing: -1.28px;
}

.card_icon {
    position: relative;
    left: 0px;
    width: 32px;
    height: 0px;
    stroke-width: 3px;
    stroke: #797979;
}

.card_title {
    margin-bottom: 7px;
    font-weight: 500;
    font-size: 32px;
    line-height: 50px;
    letter-spacing: -0.04em;
}

.card_muted {
    font-weight: 500;
    font-size: 24px;
    line-height: 50px;
    letter-spacing: -0.04em;
    color: #7f7f7f;
}

.card__link {
    position: absolute;
    z-index: 1;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
}