.vauchers {
    padding-top: 20px;
    width: 1483px;
    height: 710px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 20px;
}

.vaucher_content {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 65px;
    margin-left: 219px;
}

.vaucher_text {
    width: 507px;
    height: 360px;
}

.vaucher_text h2 {
    color: #000;
    font-family: Poppins;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 150%;
    letter-spacing: 2.88px;
}

.vaucher_text p {
    width: 419px;
    height: 61px;
    color: #7C7C7C;
    font-family: Poppins;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    margin-top: 40px;
    letter-spacing: -0.96px;
}

.vaucher_icon {
    display: inline-flex;
    align-items: flex-start;
    gap: 20px;
}

.icon {
    width: 236.086px;
    height: 71px;
}


.vaucher_img {
    width: 535px;
    height: 650px;
    margin-left: 430px;
    margin-bottom: 50px;
}
.vaucher_mobile {
    width: 530px;
    height: 710px;
    margin-bottom: 50px;
}